body {
  overflow-x: hidden;
  background-image: url('../../assets/img/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-heading-upper {
  margin-top: 1cm;
  font-family: century gothic;
  display: block;
  font-size: 2rem;
  font-weight: 800;
  text-align: center!important;
}

.home-heading-lower {
  display: block;
  font-weight: 100;
  line-height: 7rem;
  letter-spacing: 0.5cm;
}




















.text-center.login-heading {
    font-family: century gothic;
    background-color: white;
    color: black;
    font-size: 17px;
    padding-bottom: 10px;
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
    border-style: groove;
  }
  
  .login-clean {
    background: #f1f7fc;
    padding: 80px 0;
  }
  
  .login-clean form {
    max-width: 320px;
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  }
  
  .login-clean .illustration {
    text-align: center;
    padding: 0 0 20px;
    font-size: 100px;
    color: black;
  }
  
  .login-clean form .form-control {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 8px;
    height: 42px;
  }
  
  .login-clean form .btn-primary {
    background: black;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 26px;
    text-shadow: none;
    outline: none !important;
  }
  
  .login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
    background: black;
  }
  
  .btn.btn-primary.btn-block:hover {
    background-color: grey;
  }
  
  .login-clean form .btn-primary:active {
    transform: translateY(1px);
  }
  
  .login-clean form .forgot {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
  }
  
  .login-clean form .forgot:hover, .login-clean form .forgot:active {
    opacity: 1;
    text-decoration: none;
  }
  

  


























  .text-center.newcustomer-heading {
    font-family: century gothic;
    background-color: white;
    color: black;
    font-size: 17px;
    padding-bottom: 10px;
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
    border-style: groove;
  }
  
  .register-photo {
    background: #f1f7fc;
    padding: 80px 0;
  }
  
  .register-photo .image-holder {
    display: table-cell;
    width: auto;
    background: url(meeting.jpg);
    background-size: cover;
  }
  
  .register-photo .form-container {
    display: table;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  }
  
  .register-photo form {
    display: table-cell;
    width: 400px;
    background-color: #ffffff;
    padding: 40px 60px;
    color: #505e6c;
  }
  
  @media (max-width:991px) {
    .register-photo form {
      padding: 40px;
    }
  }
  
  .register-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  .register-photo form .form-control {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 6px;
    height: 40px;
  }
  
  .register-photo form .form-check {
    font-size: 13px;
    line-height: 20px;
  }
  
  .register-photo form .btn-primary {
    background: black;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important;
  }
  
  .register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
    background: black;
  }
  
  .register-photo form .btn-primary:active {
    transform: translateY(1px);
  }
  
  .register-photo form .already {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
  }
  
  


























#mainNav {
    margin-top: 1cm;
    font-family: century gothic;
    font-size: medium;
    font-weight: bold;
  }
  
  .blank:hover {
    text-decoration: none;
  }
  
  li a {
    margin-right: 1em;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: black;
  }
  
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: black;
    text-decoration: underline;
  }
  
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:active {
    color: black;
    text-decoration: underline;
  }
  
  .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: black;
    text-decoration: underline;
  }
  
  .dropdown-item.active, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: black;
    text-decoration: underline;
  }
  
  .login {
    margin-right: 1em;
    font-weight: normal;
    color: black;
  }
  
  .login:hover {
    color: grey;
  }
  
  .btn {
    margin-right: 3em;
    color: white;
    background-color: black;
    border-radius: 50px;
  }
  
  .btn:hover {
    color: white;
    background-color: grey;
    text-decoration: underline;
  }
  
  












  .prod-heading {
    font-family: century gothic;
  }
  
  
  
  